{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location%}
{{ navbar([("academy", {}, academy.title),
           ("academygroups", {}, "Gruppenverwaltung")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok, "Bitte Gruppen bearbeiten.", "Gruppen erfolgreich bearbeitet.", error.message, error.explanation) }}
<form action="{{ buildurl("academygroupssave")|e }}" method="post" id="save">
        Gruppen: <select name="groups" multiple="multiple">
            {%- for group, title in allgroups.items() %}
	        {% if group in academy.groups -%}
                    <option value="{{ group|e }}" selected>{{ title|e }}</option>
                {%- else -%}
                    <option value="{{ group|e }}">{{ title|e }}</option>
		{%- endif -%}
            {%- endfor -%}
        </select>
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
</form>
<a href="{{ buildurl("academygroups")|e }}">Abbrechen</a>
{% endblock %}
