{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location %}
{{ navbar([("academy", {}, academy.title)]) }}
{% endblock %}
{% block content %}
{% if academy.courses %}
<div class="courselist">
	{%- for course in academy.courses -%}
	    {%- if user.allowedRead(academy, course) %}
	    <div class="courseitem">
	      <a href="{{ buildurl("course", dict(course=course.name))|e }}">{{ course.title|e }}</a><br>
	      Letzte Änderung am {{ course.timestamp.strftime("%Y/%m/%d %H:%M:%S %Z") | e }}
	    </div>
	    {%- else -%}
	    <div class="courseitem">{{ course.title|e }}</div>
	    {%- endif -%}
	{%- endfor %}
</div>
{%- else -%}
<em>Keine Kurse gefunden.</em><br>
{%- endif -%}
<div class="academyoperations">
{%- if user.mayExport(academy)%}
<a href="{{ buildurl("export")|e }}">Exportieren</a>
<a href="{{ buildurl("rawacademy")|e }}">df2-Rohdaten</a>
{%- endif %}
{%- if user.allowedMeta(academy) %}
<a href="{{ buildurl("academytitle")|e }}">Titel bearbeiten</a>
<a href="{{ buildurl("academygroups")|e }}">Gruppen bearbeiten</a>
<a href="{{ buildurl("createcoursequiz")|e }}">Kurs hinzuf&uuml;gen</a>
<a href="{{ buildurl("deadcourses")|e }}">gel&ouml;schte Kurse wiederherstellen</a>
{%- endif -%}
</div>
{% endblock %}
