{% macro button(action, label, params={}) -%}
<form action="{{ action|e }}" method="post" class="button">
	{%- for key, value in params.items() -%}
	<input type="hidden" name="{{ key|e }}" value="{{ value|e }}">
	{%- endfor -%}
	<input type="submit" name="submit" value="{{ label|e }}">
</form>
{%- endmacro -%}

{%- macro navbar(entries) -%}
Navigation: <a href="{{ buildurl("index")|e }}">Dokuforge</a>
{%- for (point, args, title) in entries -%}
{%- if url == '' -%}
{# comment to protect space #} &gt; {{ title|e}}
{%- else -%}
{# comment to protect space #} &gt; <a href="{{ buildurl(point, args)|e }}">{{ title|e }}</a>
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro threeway(ok, default, success, errormessage, errorexplanation) -%}
{% if ok is none %}
{{ default|e }}
{% elif ok %}
{{ success|e }}
{% else %}
<span class=important>{{ errormessage|e }}</span><br>
{{ errorexplanation|e }}
{% endif %}
{%- endmacro -%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{{ staticjoin("style.css")|e }}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ staticjoin("print.css")|e }}" media="print">
	<title>Dokuforge2</title>
<script type="text/javascript">
function checkMathCookie()
{
  var i,x,y,ARRcookies = document.cookie.split(";");
  for (i = 0; i < ARRcookies.length; i++) {
    x = ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
    y = ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
    x = x.replace(/^\s+|\s+$/g,"");
    if (x == "wants_mathjax") {
      if (y== "True") {
        return true
      } else {
	return false
      }
    }
  }
  disableMathCookie()
  return true
}
function enableMathCookie()
{
  document.cookie="wants_mathjax=True; path=/;"
}
function disableMathCookie()
{
  document.cookie="wants_mathjax=False; path=/;"
}
</script>
<script type="text/javascript">
if (checkMathCookie() == true){
  var mathjax_include = document.createElement("script");
  mathjax_include.type = "text/javascript"
  mathjax_include.src = "{{ mathjaxjoin("MathJax.js?config=TeX-AMS-MML_HTMLorMML") }}"
  document.getElementsByTagName("head")[0].appendChild(mathjax_include)
}
</script>
{% block mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
  MathJax.Hub.Config({tex2jax: {displayMath: [['$$','$$']]}});
</script>
{% endblock %}
</head>
<body onload="checkMathCookie()">
<div id="page">
{%- block header %}
 <div id="header">
   <div id="headings">
	 <h1 id="dokuforgetitle">Dokuforge</h1>
	 <div id="subheading">
	   {%- block subheading %}Startseite{% endblock -%}
	 </div>
   </div>
   <div id="userinformation">
   {%- if user is not none %}
       Hallo {{ user.name|e }}!
       {{ button(buildurl("logout"), "Logout") }}
   {%- else -%}
   <a href="{{ buildurl("start")|e }}">Login</a>
   {%- endif %}
   </div>
   <div id="headerlinks">
   {%- if user is not none %}
	{%- if user.isAdmin() %}
	<a href="{{ buildurl("admin")|e }}">Administration</a>
	{%- endif -%}
	{%- if user.isSuperAdmin() %}
	<a href="{{ buildurl("groups")|e }}">Gruppenverwaltung</a>
	{%- endif -%}
	<br>
   {%- endif %}
   {%- if allowMathChange %}
       <script type="text/javascript">
	 if (checkMathCookie() == true) {
	   document.write('<a href="" onClick="disableMathCookie()">Formelvorschau ausschalten</a>')
	 } else {
	   document.write('<a href="" onClick="enableMathCookie()">Formelvorschau einschalten</a>')
	 }
       </script>
       <noscript>
	 Formelvorschau ist aus
       </noscript>
       {% else %}
       <script type="text/javascript">
	 if (checkMathCookie() == true) {
	   document.write('Formelvorschau ist an')
	 } else {
	   document.write('Formelvorschau ist aus')
	 }
       </script>
       <noscript>
	 Formelvorschau ist aus
       </noscript>
   {% endif -%}
   <a href="{{ buildurl("styleguide")|e }}">Style-Guide</a>
   </div>
   <div id="location">
   {%- block location %}{% endblock -%}
   </div>
 </div>
{% endblock -%}
<div id="content">
{%- block content %}
Dies sollte nicht sichtbar sein.
{% endblock %}
</div>
{%- block footer %}
   <div id="footer">
   	Kontakt: team (at) dokuforge.de<br>
   	Dokuforge – Ein Projekt des CdE e.V.
   </div>
{% endblock -%}
</div>
</body>
<!-- Dokuforge revision is {{ commitid }}. -->
</html>
{# vim:syntax=jinja
#}
