{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location %}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title)]) }}
{% endblock %}
{% block content %}
Seitensch&auml;tzer: {{estimate.pages | round(2) | e}} Seiten,
{{estimate.blobs | e}} Abbildungen [{{estimate.blobpages | round(2) | e}} zus&auml;tzliche Seiten],
{{estimate.ednotepages | round(2) | e}} Seiten Ednotes
{%- if course.pages %}
<div class="toc">
        {%- set i = 0 -%}
	{%- for page in course.outlines %}
        {%- set i = i + 1 -%}
	<div class="tocpart">
	   <table>
	     <tr>
	       <td >
		 <div class="tocnumber">
		   <a href="{{ buildurl('page', {'page': page.number})|e }}" class="inconspicuous">{{i|e}}</a></div>
                 <a href="{{ buildurl('page', {'page': page.number})|e }}"> Teil&nbsp;#{{ page.number|string }}</a>
		 </td>
	         <td class="tocoutline">
                {%- for (type, title) in page.items() -%}
		    {# FIXME links currently link only to a page, not to a specific heading. #}
	            {%- if type == "heading" -%}
	                <div class="tocheading"><a href="{{ buildurl('page', {'page': page.number})|e }}" class="inconspicuous">{{title|e}}</a></div>
	            {%- elif type == "subheading" -%}
	                <div class="tocsubheading"><a href="{{ buildurl('page', {'page': page.number})|e }}" class="inconspicuous">{{title|e}}</a></div>
	            {%- endif -%}
		{%- else -%}
	                <div class="tocempty"><a href="{{ buildurl('page', {'page': page.number})|e }}" class="inconspicuous">(...)</a></div>
                {%- endfor -%}
		</td>
		<td>
		{%- if not loop.first -%}
		   {%- if user.allowedWrite(academy, course) %}
		      {{ button(buildurl("moveup"), "Hochrücken",
	              	 dict(number=loop.index0)) }}
		   {%- endif -%}
		{%- endif -%}
		</td>
	      </tr>
	   </table>
           <div class="versionstring">{{ page.versionstring|e }} ({{page.estimate.pages | round(2) | e}} Seiten,
{{page.estimate.blobs | e}} Abbildungen [{{page.estimate.blobpages | round(2) | e}} zus&auml;tzliche Seiten],
{{page.estimate.ednotepages | round(2) | e}} Seiten Ednotes)</div>
	</div>
	
	{%- endfor %}
</div>
{%- else -%}
<em>Keine Teile gefunden gefunden.</em><br>
{%- endif -%}
<div class="courseoperations">
{%- if user.mayExport(academy) %}
<a href="{{ buildurl("raw")|e }}">df2-Rohdaten</a>
{%- endif -%}
{%- if user.allowedMeta(academy) %}
<a href="{{ buildurl("coursetitle")|e }}">Titel bearbeiten</a>
</a>
{%- endif -%}
{%- if user.allowedWrite(academy, course) %}
<a href="{{ buildurl("showdeadpages")|e }}">gel&ouml;schte Teile wiederherstellen</a>
{{ button(buildurl("createpage"), "Neuen Teil anlegen") }}
{%- endif -%}
{%- if user.allowedMeta(academy) %}
<div class="rareCommands">
{{ button(buildurl("deletecourse"), "Kurs löschen") }}
</div>
{%- endif -%}
</div>
{% endblock %}
