{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location%}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("coursetitle", {}, "Titel")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok, 'Bitte Titel eingeben und mit "Speichern" beenden.',
            "Aenderungen erfolgreich gespeichert.", error.message,
            error.explanation) }}
<form action="{{ buildurl("coursetitlesave")|e }}" method="post" id="save">
	<textarea name="content">{{ content|e }}</textarea>
	<input type="hidden" name="contentreceived" value="true">
	<input type="submit" name="saveedit" value="Speichern und Editieren">
</form>
<a href="{{ buildurl("course")|e }}">Abbrechen</a>
{% endblock %}
