{% extends "base.html" %}
{% block subheading %}
Neue Akademie
{% endblock %}
{% block location%}
{{ navbar([("createacademy", {}, "Akademie anlegen")]) }}
{% endblock %}
{% block content %}

{{ threeway(ok, "Bitte die folgenden Angaben ergaenzen.", "", error.message,
            error.explanation) }}
<form action="{{ buildurl("createacademy")|e }}" method="post" id="createacademy">
	Interner Name: <input name="name" type="text" value="{{ form.get("name", "")|e }}"><br>
	Titel: <input name="title" type="text" value="{{ form.get("title", "")|e }}"><br>
        Gruppen: <select name="groups" multiple="multiple">
            {%- for group, title in allgroups.items() -%}
                <option value="{{ group|e }}">{{ title|e }}</option>
            {%- endfor -%}
        </select>
	<input type="submit" name="submit" value="Akademie anlegen">
</form>
<a href=" {{ buildurl("index")|e }}">Abbrechen</a>
{% endblock %}
