{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location %}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("page", {}, "Teil #" ~ page),
	   ("showdeadblobs", {}, "Attic")])}}
{% endblock %}
{% block content %}
{%- if blobs %}
<ul>
	{%- for blob in blobs %}
	<li> #[{{ blob.number|string }}] ({{ blob.filename|e  }})
         {{ button(buildurl("relinkblob"), "wiederherstellen", dict(number=blob.number)) }}
	</li>
	{%- endfor -%}
</ul>
{%- else -%}
<em>Keine gel&ouml;schten Bilder in diesem Kurs gefunden.</em>
{%- endif -%}
{% endblock %}
