{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location %}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("showdeadpages", {}, "Attic")])}}
{% endblock %}
{% block content %}
{%- if course.deadpages %}
<ul>
	{%- for page in course.deadpages %}
	<li> #{{ page|string }}
         {{ button(buildurl("relink"), "wiederherstellen", dict(number=page)) }}
	</li>
	{%- endfor %}
</ul>
{%- else -%}
<em>Keine gel&ouml;schten Teile gefunden.</em>
{%- endif -%}
{% endblock %}
