{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location %}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("page", {}, "Teil #" ~ page)]) }}
{% endblock %}
{% block content %}
Teil #{{ page|string }}
[Version {{commit['revision'] | e }}, 
 zuletzt ge&auml;ndert von {{ commit['author'] | e }}
 am {{ commit['date'].strftime("%Y/%m/%d %H:%M:%S %Z") | e }}]
({{estimate.pages | round(2) | e}} Seiten,
{{estimate.blobs | e}} Abbildungen [{{estimate.blobpages | round(2) | e}} zus&auml;tzliche Seiten],
{{estimate.ednotepages | round(2) | e}} Seiten Ednotes)
{%- if page in course.pages -%}
{%- set pageindex = course.pages.index(page) %}
<hr>
{%- if pageindex > 0 -%}
<a href="{{ buildurl('page', {'page': course.pages[pageindex-1]})|e }}">Vorheriger Teil</a>
{%- else -%}
<span class="inactiveNavigation">Vorheriger Teil</span>
{%- endif -%}
{% for otherpage in course.pages %}

{% if otherpage==page -%}
<b>{{loop.index|e}}</b>
{%- else -%}
<a href="{{ buildurl('page', {'page': otherpage})|e }}">{{loop.index|e}}</a>
{%- endif -%}
{%- endfor -%}
{% if course.pages[pageindex+1] is defined %}

<a href="{{ buildurl('page', {'page': course.pages[pageindex+1]})|e }}">N&auml;chster Teil</a>
{% else %}
<span class="inactiveNavigation">N&auml;chster Teil</span>

{% endif %}
<hr>
{% endif %}
<div class="dokucontent">
{# content does not need to be escaped, since this is done by the parser #}
{{ content }}
</div>
<hr>


{%- if user.allowedWrite(academy, course) %}
<a href="{{ buildurl("edit")|e }}">Editieren</a>
&nbsp;
{%- endif -%}
<a href="{{ buildurl("rcs")|e }}">rcs</a>
<div class="rareCommands">
{%- if user.allowedWrite(academy, course) %}
{%- if page in course.pages -%}
{{ button(buildurl("delete"), "Löschen", dict()) }}
{%- else -%}
{{ button(buildurl("relink"), "wiederherstellen", dict(number=page)) }}
{%- endif -%}
{%- endif -%}
</div>

<hr>
{%- if blobs %}
Zugeordnete Bilder:
<ul>
{%- for blob in blobs %}
<li>
  <a href="{{ buildurl("showblob", {'blob': blob.number})|e }}">#[{{ blob.number|string }}] ({{ blob.filename|e }})</a>
{%- if user.allowedWrite(academy, course) %}
{{ button(buildurl("blobdelete", {'blob': blob.number}), "Löschen", dict()) }}
{%- endif -%}
</li>
{%- endfor %}
</ul>
{%- else -%}
<em>Keine Bilder zu diesem Teil gefunden.</em>
{%- endif -%}

{%- if user.allowedWrite(academy, course) %}
<a href="{{ buildurl("addblob")|e }}">neues Bild hinzuf&uuml;gen</a>
<a href="{{ buildurl("showdeadblobs")|e }}">gel&ouml;schte Bilder hier wieder einf&uuml;gen</a>
{%- endif -%}

{% endblock %}
