{% extends "base.html" %}
{% block subheading %}
Startseite
{% endblock %}
{% block location %}
{{ navbar() }}
{% endblock %}
{% block content %}
<form action="{{ buildurl("login")|e }}" method="post" id="login">
  <p>Nutzername: <input name="username" type="text"></p>
  <p>Passwort: <input name="password" type="password"></p>
  <p><input name="submit" value="Login" type="submit"></p>
</form>
{% endblock %}
