{% extends "base.html" %}
{% block subheading %}
{{ academy.title|e }}
{% endblock %}
{% block location%}
{{ navbar([("academy", {}, academy.title),
           ("course", {}, course.title),
	   ("page", {}, "Teil #" ~ page),
	   ("uploadblob", {}, "Bild hochladen")]) }}
{% endblock %}
{% block content %}
<form action="{{ buildurl("attachblob")|e }}" method="post" enctype="multipart/form-data">
Bildunterschrift/Kommentar:         <textarea disabled="disabled">{{form.get("comment", "")|e}}</textarea>
        <input type="hidden" name="comment" value="{{form.get("comment", "")|e}}">
K&uuml;rzel:	<textarea disabled="disabled">{{form.get("label", "")|e}}</textarea>
        <input type="hidden" name="label" value="{{form.get("label", "")|e}}">
	<input type="file" name="content">
	<input type="submit" value="Bild hochladen">
</form>

{% endblock %}
