html, body, #page {
    background-color: #9999ff;
    margin: 0px;
    height:100%;
    overflow: hidden;
}

#header {
    top: 0ex;
    height: 13ex;
    padding-top: 2ex;
    padding-left: 1em;
    padding-right: 1em;
}
 #headings {
    position: absolute;
    left: 1em;
    right: 21em;
    height: 9ex;
 }
  #dokuforgetitle {
    text-align: center;
    margin: 0ex;
  }
  #subheading {
    font-size: x-large;
    font-weight: bold;
    margin: 0ex;
    margin-top: 0.5ex;
  }
 #userinformation {
    float: right;
    height: 3ex;
 }
  #userinformation form {
    padding-left: 0.5em;
  }
 #headerlinks {
    position: absolute;
    top: 6ex;
    right: 1em;
    text-align: right;
    height: 4ex;
    width: 20em;
 }
  #headerlinks a {
    padding-left: 1ex;
  }
 #location {
    position: absolute;
    top: 11ex;
 }

#content {
    position: absolute;
    background-color: #ccccff;
    padding: 2ex;
    bottom: 6ex;
    top: 14ex;
    left: 0ex;
    right: 0ex;
	overflow: auto;
}
 #saveedit {
    position: absolute;
    top: 1ex;
    bottom: 1ex;
    left: 2ex;
    right: 2ex;
 }
  #saveedittext {
    position: absolute;
    left: 0em;
    right: 0em;
    top: 3ex;
    bottom: 4.5ex;
  }
   #saveedittext textarea {
    height: 100%;
    width: 100%
   }
  #saveeditinput {
    position: absolute;
    bottom: 0ex;
    left: 0ex;
  }

#footer {
    position: absolute;
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-left: 1em;
    padding-right: 1em;
    text-align: right;
    height: 4ex;
    bottom: 0ex;
    right: 0em;
}


textarea {
	width: 100%;
	min-height: 10ex;
}

.important {
    color: red;
    font-size: larger;
    font-weight: bold;
}
.button {
    display: inline;
}
.dokucontent {
    margin-left: 1em;
    margin-right: 1em;
    padding: .5ex 2ex .5ex 2ex;
    background-color: #ddddff;
}

.ednote {
    background-color: #aaddff;
}

.dokucontent .ednote {
    background-color: #aaddff;
}

.dokucontent .displaymath {
    text-align: center;
}

.versionstring {
    font-size: 1.5ex;
    text-align: center;
}
.tocpart {
    background-color: #aaaaff;
    padding: 1ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.tocnumber {
    font-size: 5ex;
    text-align: center;
}

.tocheading {
    font-weight: bold;
    padding-left: 1em;
}

.tocsubheading {
    font-weight: bold;
    padding-left: 5em;
}

.tocempty {
    font-style: italic;
    padding-left: 1em;
}

.tocoutline {
    width: 100%;
}

.courseitem {
    background-color: #aaaaff;
    padding: 1ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

a.inconspicuous {
    color: #000000;
    text-decoration: none;
}

a.inconspicuous:link {
    color: #000000;
    text-decoration: none;
}

a.inconspicuous:visited {
    color: #000000;
    text-decoration: none;
}

a.inconspicuous:focus {
    color: #000000;
    text-decoration: none;
}

a.inconspicuous:hover {
    color: #000000;
    text-decoration: none;
}

a.inconspicuous:active {
    color: #000000;
    text-decoration: none;
}

a {
    color: #5500aa;
}

a:link {
    color: #880088;
}

a:visited {
    color: #550055;
}

a:focus {
    color: #880088;
}

a:hover {
    color: #880088;
}

a:active {
    color: #880088;
}


.rareCommands {
  display: inline-block;
  float: right;
}

.inactiveNavigation {
	visibility: hidden;
}
